body {
  background-image: linear-gradient(45deg, #142132, #3c495b);
  font-family: "Bitter", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

#subContainerAtoR {
  display: block;
  background-color: #fff4e2;
  border-radius: 0;
  padding: 10px;
  color: #3c495b;
  text-align: center;
}

form {
  margin: auto;
}

P {
  margin: 30px auto;
  color: #3c495b;
}

#subContainerRtoA {
  display: none;
  background-color: #fff4e2;
  border-radius: 0;
  padding: 10px;
  color: #3c495b;
  text-align: center;
}

h1 {
  color: #fff4e2;
  font-size: 2em;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

#conversionSelector {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-active {
  background-color: #fef3df;
  color: #3c495b;
  border: 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex-grow: 1;
  height: 25px;
  font-weight: bold;
  text-align: center;
}

.button {
  background-color: #596677;
  color: #fef3df;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  flex-grow: 1;
  margin: 0px 10px;
  height: 20px;
  text-align: center;
}

.button:hover {
  background-color: #8190a3;
}

.clipboardButton {
  background-color: #3c495b;
  font-size: 0.8rem;
  color: #fff4e2;
  border: 0;
  padding: 9px;
  cursor: pointer;
  border-radius: 3px;
  margin: 10px auto;
  width: fit-content;
}

.clipboardButton:hover {
  background-color: #8190a3;
}

.numberInput {
  width: 60%;
  height: 2rem;
  text-align: center;
  font-family: "Bitter", "Times New Roman", Times, serif;
  font-size: 1.5rem;
  border: 1px solid #142132;
  background-color: transparent;
  color: #142132;
  border-radius: 3px;
  margin: 20px 0px;
}

.numberinput:focus {
  outline: none;
}

.numberInput::placeholder {
  font-family: "Bitter", "Times New Roman", Times, serif;
  font-size: 1.5rem;
  color: #142132;
}

.outputContainer {
  background-image: linear-gradient(45deg, #142132, #3c495b);
  border: 2px solid;
  width: 85%;
  margin: 20px auto;
  padding: 20px 0;
  font-size: 2rem;
  border-radius: 3px;
  border-top-color: #5c6877;
  border-right-color: #5c6877;
  border-bottom-color: #142132;
  border-left-color: #142132;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  max-width: 100%;
}

.output {
  font-family: "Bitter", "Times New Roman", Times, serif;
  color: #fffaf1;
  text-shadow: 2px -2px 1px #142132, -2px 2px 0px #4c5c72;
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
}

form {
  width: 90%;
}

/*  SLIDER  */
/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 60%;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #142132;
  height: 1px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -10px; /* Centers thumb on the track */
  background-image: linear-gradient(45deg, #142132, #3c495b);
  background-color: #142132;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.7rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 0.5px solid #3c495b;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #142132;
  height: 1px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #8d2020;
  border: none; /*Removes extra border that FF applies*/
  background-image: linear-gradient(45deg, #142132, #3c495b);
  background-color: #142132;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.7rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 0.5px solid #3c495b;
  outline-offset: 0.125rem;
}

@media only screen and (max-width: 500px) {
  #output {
    font-size: 2rem;
  }

  .button .button-active {
    height: 40px;
  }

  #outputContainer {
    margin-bottom: 20px;
  }

  input[type="range"] {
    padding: 30px 0 50px 0;
    width: 90%;
  }

  #numberInput {
    font-size: 1rem;
  }

  #numberInput::placeholder {
    font-size: 1rem;
  }
}
